* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: Quicksand, sans-serif;
  color: #231F20;
}

h1 {
  font-size: calc(1.4em + 0.5vw);
}

h2 {
  font-size: calc(0.9em + 0.5vw);
  text-align: left;
}

p {
  font-size: calc(0.7em + 0.5vw);
  text-align: left;
}

.flex-container,
.left-container,
.right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: #e6e7e8;
  position: fixed;
  z-index: 10;
}

header:hover {
  cursor: pointer;
  background-color: #e0e0e8;
}

header .close-button {
  width: 2em;
  height: 2em;
  border: 3px solid #02b3e4;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  right: 10vw;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .close-button:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #02b3e4;
  width: 80%;
  height: 6%;
  left: 10%;
  top: 47%;
}

header .close-button:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #02b3e4;
  width: 6%;
  height: 80%;
  left: 47%;
  top: 10%;
}

header .close-button.open {
  background-color: #02b3e4;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

header .close-button.open:after {
  background-color: #F4785A;
}

header .close-button.open:before {
  background-color: #F4785A;
}

nav {
  visibility: hidden;
  opacity: 0;
  background-color: #e6e7e8;
  z-index: 6;
  height: 0;
  width: 100vw;
  position: fixed;
  top: 10vh;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

nav.open {
  visibility: visible;
  opacity: 1;
  height: 90vh;
}

nav .nav-inner {
  margin-top: 4em;
}

nav .nav-inner .nav-row a {
  color: #02b3e4;
  max-width: 200px;
  display: block;
  margin: auto;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: calc(1.4em + 0.5vw);
}

nav .nav-inner .nav-row a.hover {
  color: #afafaf;
  cursor: pointer;
}

.info-page {
  visibility: hidden;
  opacity: 0;
  background-color: #e6e7e8;
  z-index: 6;
  height: 0;
  width: 100vw;
  position: fixed;
  top: 10vh;
}

.info-page .about-inner {
  width: 40%;
  margin: auto;
  margin-top: 10vh;
}

.info-page .about-inner .large-text {
  font-size: 120px;
  color: #F4785A;
}

.info-page .about-inner .msg1 {
  color: #49A370;
}

.info-page .about-inner .msg2 {
  color: #02b3e4;
}

.info-page .about-inner .row {
  height: 1.2em;
}

.info-page .contact-inner {
  width: 40%;
  margin: auto;
  margin-top: 10vh;
}

.info-page .contact-inner .large-text {
  font-size: 120px;
  color: #F4785A;
}

.info-page .contact-inner .msg1 {
  color: #49A370;
}

.info-page .contact-inner .msg2 {
  color: #02b3e4;
}

.info-page .contact-inner .e-mail {
  color: #231F20;
}

.info-page .contact-inner .row {
  height: 1.2em;
}

.info-page .contact-inner .link {
  text-decoration: none;
  font-weight: bold;
  font-size: calc(1.4em + 0.5vw);
  font-size: calc(0.9em + 0.5vw);
  color: #231F20;
}

.info-page .contact-inner .link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info-page.open {
  visibility: visible;
  opacity: 1;
  height: 90vh;
}

/* Main content style */
.flex-container {
  height: 90vh;
  position: absolute;
  bottom: 0;
}

.flex-container .left-container {
  height: 90vh;
  width: 100vw;
}

.flex-container .left-container .left-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container .left-container .left-inner .intro {
  height: 40vh;
}

.flex-container .left-container .left-inner .intro .intro-inner {
  position: relative;
  top: 2em;
}

.flex-container .left-container .left-inner .intro .intro-inner .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.flex-container .left-container .left-inner .intro .intro-inner .title-box .name-title {
  vertical-align: bottom;
}

.flex-container .left-container .left-inner .intro .intro-inner .title-box .logo {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0;
}

.flex-container .left-container .left-inner .intro .intro-inner .title-description {
  width: 100%;
  font-size: calc(0.9em + 0.5vw);
  font-weight: bold;
  text-align: justify;
}

.flex-container .left-container .left-inner footer {
  width: 80%;
  position: absolute;
  bottom: 3vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -o-object-fit: contain;
     object-fit: contain;
}

.flex-container .left-container .left-inner footer .drawer {
  width: 6vw;
  margin-right: 1em;
  position: relative;
  left: 0;
}

.flex-container .left-container .left-inner footer .drawer .button {
  color: #F4785A;
  text-decoration: none;
  font-weight: bold;
  font-size: calc(1.4em + 0.5vw);
}

.flex-container .left-container .left-inner footer .drawer .button:hover {
  color: #afafaf;
  cursor: pointer;
}

.flex-container .left-container .left-inner footer .social {
  position: absolute;
  right: 0;
}

.flex-container .left-container .left-inner footer .social .fa {
  padding: 5.5px;
  font-size: 14px;
  width: 24px;
  height: 24px;
  vertical-align: top;
  text-align: left;
  text-decoration: none;
  margin-left: 0.5em;
  border-radius: 50%;
  background-color: #F4785A;
  color: white;
}

.flex-container .left-container .left-inner footer .social .fa:hover {
  background-color: #afafaf;
  cursor: pointer;
}

.flex-container .left-container .left-inner footer .social .fa-facebook {
  font-size: 15px;
}

.flex-container main {
  background-color: #fafafa;
  overflow-y: scroll;
  width: 100vw;
}

.flex-container main .right-container .project {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  padding-top: 5vw;
  width: 100%;
  display: block;
}

.flex-container main .right-container .project #first-project {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.flex-container main .right-container .project #second-project {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.flex-container main .right-container .project #third-project {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.flex-container main .right-container .project #fourth-project {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.flex-container main .right-container .project .image {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.flex-container main .right-container .project p, .flex-container main .right-container .project h2 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

@media screen and (min-device-width: 768px) and (orientation: landscape) {
  header .close-button {
    position: absolute;
    right: 2em;
  }
  .flex-container .left-container {
    width: 40%;
    position: sticky;
    -webkit-position: -webkit-sticky;
  }
  .flex-container main {
    width: 60%;
    height: 100%;
  }
  .flex-container main .right-container .project {
    width: 50%;
    padding: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */