* {
  box-sizing: border-box;
}

body {
  font-family: Quicksand, sans-serif;
  color: #231F20;
}

h1 {
  font-size: calc(1.2em + 0.5vw);
}

h2 {
  font-size: calc(0.9em + 0.5vw);
  text-align: justify;
}

p {
  font-size: calc(0.7em + 0.5vw);
  text-align: justify;
}

.button:hover {
  color: #afafaf;
}

.flex_container, .side_container, main, .main_inner {
  display: flex;
  flex-wrap: wrap;
}

.side_container {
  height: 100vh;
  width: 100vw;
}

.side_container .side_inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.side_container .side_inner header {
  height: 40%;
}

.side_container .side_inner header .header_inner {
  position: relative;
}

.side_container .side_inner header .header_inner .title_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1em;
}

.side_container .side_inner header .header_inner .title_box .logo {
  position: absolute;
  right: 0;
}

.side_container .side_inner header .header_inner .title_description {
  width: 100%;
}

.side_container .side_inner nav {
  height: 60%;
  position: relative;
}

.side_container .side_inner nav .nav_inner .circle {
  display: block;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin: auto;
  background-color: #49A370;
}

.side_container .side_inner nav .nav_inner .button {
  color: #F4785A;
  text-decoration: none;
  font-weight: bold;
  font-size: calc(1.2em + 0.5vw);
  position: absolute;
  bottom: 2em;
}

.side_container .side_inner nav .nav_inner .about {
  left: 0;
}

.side_container .side_inner nav .nav_inner .contact {
  right: 0;
}

.main_inner .project {
  margin: auto;
  padding: 0.6em;
}

.main_inner .project .image {
  width: 90vw;
  max-width: 360px;
  height: 280px;
  object-fit: cover;
}

.main_inner .project p, .main_inner .project h2 {
  margin: 0.1em;
  padding: 0;
}

@media screen and (min-width: 641px) {
  .side_container {
    width: 40%;
    position: sticky;
    -webkit-position: sticky;
    top: 0;
  }
  main {
    width: 60%;
  }
}
