//  Define color variables

$green: #49A370
$red: #F4785A
$blue: #02b3e4
$black: #231F20
$grey: #afafaf
$mediumgrey: #e6e7e8
$lightgrey: #fafafa
$pale: #e0e0e8

//  Define font variables
$font1: Quicksand, sans-serif
$size1: calc(1.4em + 0.5vw)
$size2: calc(0.8em + 0.5vw)
$size3: calc(0.7em + 0.5vw)

// Mixins
@mixin btn 
    text-decoration: none
    font-weight: bold
    font-size: $size1
    

//  General settings

*
    box-sizing: border-box

body
    margin: 0

//  Fonts and colors

body
    font-family: $font1
    color: $black

h1
    font-size: $size1

h2
    font-size: $size2
    text-align: left

p
    font-size: $size3
    text-align: left
 

//  Flexbox
.flex-container,
.left-container,
.right-container,
.info-container
    display: flex
    flex-wrap: wrap

//  Header and navigation
header
    height: 10vh
    width: 100vw
    background-color: $mediumgrey
    position: fixed
    z-index: 10

    &:hover
        cursor: pointer
        background-color: $pale
    
    .close-button 
        width: 2em
        height: 2em
        border: 3px solid $blue
        border-radius: 50%
        position: absolute
        top: 2vh
        right: 10vw
        transition-duration: 0.5s
                
        &:before 
            content: ""
            display: block
            position: absolute
            background-color: $blue
            width: 80%
            height: 6%
            left: 10%
            top: 47%   
        
        &:after 
            content: ""
            display: block
            position: absolute
            background-color: $blue
            width: 6%
            height: 80%
            left: 47%
            top: 10%
                
        &.open 
            background-color: $blue
            &:after 
                background-color: $red
            
            &:before
                background-color: $red
            transform: rotate(225deg)


// Navigation menu    
nav
    visibility: hidden
    opacity: 0
    background-color: $mediumgrey
    z-index: 6
    height: 0
    width: 100vw
    position: fixed
    top: 10vh
    transition: opacity 0.3s linear
    
    &.open
        visibility: visible
        opacity: 1
        height: 90vh

    .nav-inner
        margin-top: 1em

        .nav-row
            margin: auto

            a 
                color: $blue
                max-width: 200px
                display: block
                margin: auto
                padding: 30px
                text-align: center
                @include btn

            a.hover
                color: $grey
                cursor: pointer

// About page and Contact page styles
.info-page
    visibility: hidden
    opacity: 0
    background-color: $mediumgrey
    z-index: 6
    height: 0
    width: 100vw
    position: fixed
    top: 10vh
   
    .info-container
        width: 60%
        margin: auto
        padding: em

        .info-box
            width: 100%

            p
                margin-top: 0.3em
                margin-bottom: 0.3em

            .large-text
                margin-top: 1em
                margin-bottom: 0.3em
                font-size: 80px
                color: $red
                        
            .msg1
                color: $green
                margin-top: 0.3em
            
            .msg2
                color: $blue

            .e-mail
                color: $black

            .row
                height: 0.6em

            .link
                @include btn
                font-size: $size2
                color: $black
                line-height: 1.2

                &:hover
                    text-decoration: underline
                    cursor: pointer

    &.open
        visibility: visible
        opacity: 1
        height: 90vh


// Main flexbox 
.flex-container
    height: 90vh
    position: absolute
    bottom: 0

    // Flexbox container
    .left-container
        height: 90vh
        width: 100vw

        .left-inner
            width: 80%
            margin-left: auto
            margin-right: auto

            .intro
                height: 40vh

                .intro-inner
                    position: relative
                    top: 2em

                    .title-box
                        display: flex
                        flex-direction: row
                        width: 100%

                        .name-title
                            vertical-align: bottom
                
                        .logo
                            width: 48px
                            height: 48px
                            position: absolute
                            right: 0
                        
                    .title-description
                        width: 100%
                        font-weight: bold
                        text-align: justify
                        line-height: 1.2
                    
            footer
                width: 80%
                position: absolute
                bottom: 3vh
                display: inline-flex
                object-fit: contain

                // About and Contact buttons
                .drawer
                    width: 6vw
                    margin-right: 1em
                    position: relative
                    left: 0

                    .button
                        color: $red
                        @include btn
                        &:hover
                            color: $grey
                            cursor: pointer
                
                // Social media buttons
                .social
                    position: absolute
                    right: 0

                    .fa
                        padding: 5.5px
                        font-size: 14px
                        width: 24px
                        height: 24px
                        vertical-align: top
                        text-align: left
                        text-decoration: none
                        margin-left: 0.5em
                        border-radius: 50%
                        background-color: $red
                        color: white

                        &:hover 
                            background-color: $grey
                            cursor: pointer

                    .fa-facebook
                        font-size: 15px

    
    //  Project gallery
    main 
        background-color: $lightgrey
        overflow-y: scroll
        width: 100vw

        // Flexbox container 
        .right-container
            width: 80%
            margin: auto

            .project
                padding-bottom: 3vh
                width: 100%
                display: block

                #first-project
                    order: 1
                #second-project
                    order: 2
                #third-project
                    order: 3
                #fourth-project
                    order: 4

                .image
                    max-height: 100%
                    max-width: 100%
                    object-fit: contain
                    margin: 0

                p, h2
                        margin-top: 0.2em
                        margin-bottom: 0.2em


// Media queries
@import '_mediaqueries'



     

        
        
    
    
